/* General Styling */
body {
  cursor: hidden;
  background-color: #ffffff;
  font-style: Roboto, sans-serif;
}

/* Hidden Elements */
.hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Hidden Pages */
.page {
  display: none;
}

/* Spinner aka Loader Styling */
.loader {
  display: none;
  margin: 100 auto;
}

/* Centered Headings for Frontpage, Authorize, and Message */
.frontpage h1,
.authorize h1,
.message h1 {
  margin: 3em auto;
  text-align: center;
}

/* Visible Elements */
.visible {
  display: block;
}

/* Products List Styling */
.products-list a {
  color: #000000;
  text-shadow: 2px 2px 4px #ffffff;
  font-weight: bold;
}

.products-list .product {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.4rem;
  margin: 0.5rem;
  width: 160px;
  height: 210px;
  overflow: hidden;
  padding: 0.5rem;
}

/* Product Price Styling */
.product-price {
  padding-top: 50px; 
  font-size: 2em; /* Reduce the font size for better readability */
  text-align: center;
  margin-top: 10px; /* Add some spacing between product heading and price */
  font-weight: bold; /* Add bold styling to the price */
  color: #000000; /* Set a contrasting color for the price */
  text-shadow: 2px 2px 4px #ffffff;
}

/* Product Link Styling */
.product a {
  display: block;
  height: 250px;
}

/* Product Heading Styling */
.product h2 {
  height: 50px; /* Decrease the height to allow more text visibility */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for long product names */
  white-space: nowrap;
  font-weight: bold; /* Add bold styling to the price */
  font-size: 1.4em; /* Increase the font size for better readability */
  margin-top: 10px; /* Add spacing between the product image and heading */
  }

/* Centered Elements */
.centered {
  text-align: center;
  margin: 0 auto;
}

/* Full-width Sliders */
.count-slider,
.add-funds-slider {
  width: 100%;
}

/* Price Calculations Styling */
.calculations {
  font-size: 2em;
}

/* Total Price Styling */
.total {
  font-size: 3em;
  font-weight: bold;
}

/* Button Styling */
.button-name {
  align-items: center;
  appearance: none;
  background-color: #c21924;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #c21924;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

/* Button Focus Styling */
.button-name:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

/* Button Hover Styling */
.button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

/* Button Active Styling */
.button-name:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Red Button */
.button {
  background-color: #c21924;
  border-color: #c21924;
}
.centered-button {
  text-align: center;
  margin-top: 0px; /* Adjust the margin-top value as needed */
}

.centered-button .button {
  display: inline-block;
}

/* Red Button with Outline */
.button.button-outline {
  background-color: transparent;
  border-color: #c21924;
  color: #c21924;
}

/* Centered Columns */
.column {
  text-align: center;
  margin: 0 auto;
}

/* Centered Paragraph in Message */
.message p {
  text-align: center;
}

/* Full-width Input Fields in Names */
.names input {
  width: 100%;
}

/* Right-aligned Tab Information */
.tab-info-left {
  text-align: right;
  max-width: 30% !important;
}

/* Left-aligned Tab Information */
.tab-info-right {
  text-align: left;
  font-size: 2em;
  max-width: 20% !important;
}

/* Right-aligned Additional Information */
.add-info-left {
  text-align: right;
  padding-top: 0.7em !important;
}

/* Left-aligned Additional Information */
.add-info-right {
  text-align: left;
  font-size: 3em;
}

/* Right-aligned Name Column */
.name-column {
  font-size: 2em;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Inline Labels */
label {
  display: inline-block;
}

/* Admin Checkbox */
#is_admin {
  width: 10%;
}